.hero {
    background-image: url("../../images/bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding-bottom: 20px;
}

@media (max-width: 730px) {
    .hero {
        min-height: unset;
    }
}

.header {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (max-width: 730px) {
    .header {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .header__container {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 730px) {
    .header__container {
        gap: 20px;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    gap: 7px;
    line-height: 1.22;
}

@media (max-width: 1200px) {
    .logo {
        width: 100%;
    }
}

@media (max-width: 730px) {
    .logo {
        justify-content: center;
    }
}


@media (max-width: 730px) {
    .header__nav {
        width: 100%;
    }
}

.header__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 730px) {
    .header__list {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header__link {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.21;
}

@media (max-width: 730px) {
    .header__button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.header__button {
    padding: 11px 15px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.21;
    min-width: 100px;
}

@media (max-width: 730px) {
    .header__button {
        justify-self: center;
    }
}

.hero-content {
    flex-grow: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.hero-content__container {
    width: 50%;
}

@media (max-width: 1200px) {
    .hero-content__container {
        width: 90%;
    }
}

.hero-content__title {
    font-size: 7.2rem;
    line-height: 1.19;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 39px;
}

@media (max-width: 1200px) {
    .hero-content__title {
        font-size: 4.8rem;
    }
}

@media (max-width: 730px) {
    .hero-content__title {
        font-size: 3.6rem;
        margin-bottom: 20px;
    }
}

.hero-content__text {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 39px;
    text-align: center;
}

@media (max-width: 1200px) {
    .hero-content__text {
        font-size: 2rem;
    }
}

@media (max-width: 730px) {
    .hero-content__text {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}
