.technology {
    padding-top: 64px;
    padding-bottom: 104px;
}

@media (width <= 1200px) {
    .technology {
        padding-bottom: 60px;
    }
}

@media (width <= 960px) {
    .technology {
        padding: 40px 0;
    }
}

@media (width <= 767px) {
    .technology {
        padding: 20px 0;
    }
}


.technology__title {
    margin-bottom: 56px;
}

@media (width <= 960px) {
    .technology__title {
        margin-bottom: 20px;
    }
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    counter-reset: section;
}

@media (width <= 1200px) {
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <= 767px) {
    .advantages {
        grid-template-columns: 1fr;
    }
}

.advantages__item {
    padding: 0 30px 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__item::before {
    counter-increment: section;
    content: counter(section, decimal-leading-zero);
    font-size: 10rem;
    font-weight: bold;
    color: rgba(16, 16, 16, 0.08);
}

.advantages__img {
    margin-top: -56px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.advantages__title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.22;
}

.advantages__text {
    line-height: 1.21;
    font-size: 1.4rem;
    text-align: center;
}
