.button {
    min-width: 160px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 21px 15px;
    text-align: center;
    color: #ED4C5C;
    font-size: 1.4rem;
    line-height: 1.21;
    font-weight: bold;
    text-transform: uppercase;
}

@media (width <= 960px) {
    .button {
        padding: 10px 15px;
    }
}